<mat-toolbar>
  <span>{{service.form.controls['$key'].value?"Modifiko mesues":"Lende e Re"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<h3>Paga : {{pagaBrutoMujore}}</h3>
<form [formGroup]="service.form" class="normal-form">
<div class="controls-conteiner">
  <input type="hidden" name="Skey">
  <!-- paga -->
 

 <br>
<!-- emri -->
<mat-form-field appearance="outline">
  <mat-label>Lendet</mat-label>
<mat-select (selectionChange)="onSelectLenda($event.value)" formControlName="Emri">
<mat-option *ngFor="let lenda of Lendet" [value]="lenda.viewValue">
{{lenda.viewValue}}

</mat-option>

</mat-select>
<mat-error *ngIf="service.form.controls['Emri'].errors?.required">
Lenda <strong>e detyruesheme</strong>
</mat-error>

</mat-form-field>
<br>

<!-- javet -->
  <mat-form-field appearance="outline">
      <mat-label>Jave totale</mat-label>
    <input type ="number"(keyup) = "onChangeJavet($event.target.value)" formControlName="Javetot" matInput    >
    
      <mat-error *ngIf="service.form.controls['Javetot'].errors?.required">
        Jave totale <strong>te detyruesheme</strong>
        </mat-error>
  </mat-form-field>
  <br>
<!-- klasat -->
  <mat-form-field appearance="outline">
    <mat-label>Klasa</mat-label>
<mat-select (selectionChange)="onSelectKlasa($event.value)" formControlName="Klasa">
<mat-option *ngFor="let klasa of Klasat" [value]="klasa.value"  >
  {{klasa.viewValue}}
</mat-option>
</mat-select>
<mat-error *ngIf="service.form.controls['Klasa'].errors?.required">
  Klasa <strong>e detyruesheme</strong>
</mat-error>
</mat-form-field>
<br>
<!-- nr nxenesish -->
  <mat-form-field appearance="outline">
      <mat-label>Nr nxenesve</mat-label>
    <input type ="number"  (keyup) = "onChangeNxenesit($event.target.value)"  formControlName="NrNxenesish" matInput  >
    
    <mat-error *ngIf="service.form.controls['NrNxenesish'].errors?.required">
        Nr nxenesve <strong>i detyrueshem</strong>
      </mat-error>
  </mat-form-field>


  <br>

  <!-- ore   -->
  <mat-form-field appearance="outline">
    <mat-label>Oret</mat-label>
  <input type ="number" (keyup) = "onChangeOret($event.target.value)" formControlName="Ore" matInput   >
  
  <mat-error *ngIf="service.form.controls['Ore'].errors?.required">
     Oret <strong>jane te detyruesheme</strong>
    </mat-error>
</mat-form-field>
<br>
<!-- shtesa inst --> 
<mat-form-field appearance="outline">
  <mat-label>Shtesa Inst</mat-label>
<input type ="number" (keyup) = "onChangeShtesa($event.target.value)" formControlName="ShtesaInst" matInput   >

<mat-error *ngIf="service.form.controls['ShtesaInst'].errors?.required">
   Shtesa  <strong>eshte e detyruesheme</strong>
  </mat-error>
</mat-form-field>
<!-- paralele -->
<div class="add-bottom-padding">
  <mat-checkbox (change)= "onCheck($event.checked)" formControlName="Paralele">Klasa Paralele</mat-checkbox>
</div>
<br>
<button mat-raised-button type = "submit" color="primary" [disabled]="service.form.invalid" (click)= "onSubmit()">Ruaj</button>
 <!-- {{this.service.form.value|json}} -->
<!-- 
{{javeTot}} 
 lenda :{{perqindjaLenda}}
klasa :{{perqindjaKlasa}}
oret:{{oreJave}}
javet:{{javeTot}}
nx :{{nrNxenesishKlase}}
vj :{{vjetersia}}
kat :{{kategoria}}
cikli :{{cikliNr}}
shtesa : {{shtesaInst}}
diferenca : {{difUpdate}} -->
</div>
</form>