.klasa{
    display: flex;
    /* justify-content: center; */
    margin-left: 10%;
  color:  #3F51B5;
}
.but{
    display: flex;
    justify-content: center;
}
.viti{
    display: flex;
    justify-content: center;
} 