.gjeneralitete{
    display : flex;
justify-content: center;

}

.mbetur{
color: #FF5252;
float: right;

}
.ruaj{

    display : flex;
    justify-content: center;
}
.chip-list{
  
 margin-left: 2.5%;
    width: 95%;
}

.wraper{
display : flex;
justify-content: center;
flex-wrap: wrap;
}