<div class="search-div">
  <button mat-raised-button (click)="onCreate()" *ngIf = "!mobile">
    <mat-icon>add</mat-icon>Nxenes i Ri
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Kerko.." autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="mbetur">
    <mat-card>

      <div *ngIf="mbeturShkolla>0" style="display: inline"><span style="color:#303F9F">Shkolla : </span> <span class="mbeturSpan">
          {{mbeturShkolla|currency : 'EUR':'symbol':'1.0-0'}}</span></div>
      <div *ngIf="mbeturTrans>0" style="display: inline"> <span class="mbeturSpan" style="color:#303F9F"> Trans :
        </span> <span class="mbeturSpan">{{mbeturTrans|currency : 'LEK':'symbol':'1.0-0'}}</span></div>
      <br>
      <div *ngIf="mbeturUni>0" style="display: inline"><span class="mbeturSpan" style="color:#303F9F">Uni : </span>
        <span class="mbeturSpan">{{mbeturUni|currency : 'LEK':'symbol':'1.0-0'}}</span></div>
      <div *ngIf="mbeturLibra>0" style="display: inline"> <span class="mbeturSpan" style="color:#303F9F"> Librat :
        </span> <span class="mbeturSpan">{{mbeturLibra|currency : 'LEK':'symbol':'1.0-0'}}</span></div>
    </mat-card>
  </div>
</div>
<br>

<div class="mat-elevation-z8">

  <mat-table [dataSource]="listData" matSort>


    <ng-container matColumnDef="Emri">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Emri</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Emri}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Atesia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Atesia</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Atesia}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Mbiemri">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mbiemri</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Mbiemri}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Klasa">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Klasa</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Klasa}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Indeksi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Indeksi</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Indeksi}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="PagesaShkolla">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Pagesa</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.PagesaShkolla|currency :element.MonedhaShkolla:'symbol':'1.0-0'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="PaguarShkolla">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Paguar</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.PaguarShkolla|currency : element.MonedhaShkolla:'symbol':'1.0-0'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="MbeturShkolla">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mbetur</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.PagesaShkolla-element.PaguarShkolla|currency : element.MonedhaShkolla:'symbol':'1.0-0'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)=onSelect(row) color="primary">
              <mat-icon matTooltip="Pagesat">assignment</mat-icon>
            </button>
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon matTooltip="Modifiko">launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.$key)">
          <mat-icon matTooltip="Fshi">delete_outline</mat-icon>
        </button>
        
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>



  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10,12,14,15, 25, 100]" [pageSize]="10" showFirstLastButtons *ngIf ="!mobile"></mat-paginator>

  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
