.shpenzime{
    margin-left: 10%;
  
  }
  .kosto {
   
    width: 20%;
    margin-left:   10px;

  }
  
  .koment {
    width: 30%;
    margin-left:   10px;
  }
  
  .ruaj {
  
    margin-left:   10px;
  }
  
  .Monedha {
  
    margin-left:   10px;
    width : 10%
  }
  .tot{
    /* float : right; */
    display: inline-flex;
    flex-flow: row wrap;
    /* background: grey; */
}