<div class="search-div">
  <button mat-raised-button (click)="onXchangeClick()" >
    <mat-icon>add</mat-icon>Xchange
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Kerko.." autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="mbetur">
    <mat-card>
      <mat-card-header>
     
        <mat-card-title>TOTALI ARKA</mat-card-title>
      </mat-card-header>
      <div style="display: inline"><span style="color:#303F9F"></span> <span class="mbeturSpan">
          {{this.arkaSevice.TotaliEuro|currency : 'EUR':'symbol':'1.0-0'}}</span></div><br>
      <div  style="display: inline"> <span class="mbeturSpan" style="color:#303F9F"> 
        </span> <span class="mbeturSpan">{{this.arkaSevice.TotaliLeke|currency : 'LEK':'symbol':'1.0-0'}}</span></div>  <br>
      <div style="display: inline"><span class="mbeturSpan" style="color:#303F9F"></span>
        <span class="mbeturSpan">{{this.arkaSevice.TotaliDoll|currency : 'USD':'symbol':'1.0-0'}}</span></div>
   
    </mat-card>
  </div>

  <div class="mbetur">
    <mat-card>
      <mat-card-header>
     
        <mat-card-title>TOTALI KERKIMI</mat-card-title>
      </mat-card-header>
      <div style="display: inline"><span style="color:#303F9F"></span> <span class="mbeturSpan">
          {{this.totEurKerkimi|currency : 'EUR':'symbol':'1.0-0'}}</span></div><br>
      <div  style="display: inline"> <span class="mbeturSpan" style="color:#303F9F"> 
        </span> <span class="mbeturSpan">{{this.totLekKerkimi|currency : 'LEK':'symbol':'1.0-0'}}</span></div>  <br>
      <div style="display: inline"><span class="mbeturSpan" style="color:#303F9F"></span>
        <span class="mbeturSpan">{{this.totDolKerkimi|currency : 'USD':'symbol':'1.0-0'}}</span></div> 
   
    </mat-card>
  </div>
</div>

<div class="mat-elevation-z8">

<mat-table [dataSource]="listData" matSort>


  <ng-container matColumnDef="Koment">
    <mat-header-cell *matHeaderCellDef mat-sort-header >Koment</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Koment  }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Sasia">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Sasia</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Sasia  }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Valuta">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Monedha</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Valuta  }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="TeDhena">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Informacione</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.TeDhena  }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="User">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Perdoruesi</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.User  }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Data">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data/Ora</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Data |  date: 'dd-MM-yyyy' }} / {{element.Koha  }}</mat-cell>
    </ng-container>
   
    

  <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
          <button mat-icon-button (click) = onSelect(row) color="primary" ><mat-icon    matTooltip="Oret">assignment</mat-icon></button>
        <button mat-icon-button  (click)="onEdit(row)" *ngIf = "!mobile"><mat-icon matTooltip="Modifiko">launch</mat-icon></button>
        <button mat-icon-button color="warn" (click) ="onDelete(row.$key)"  *ngIf = "!mobile"><mat-icon    matTooltip="Fshi">delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons *ngIf = "!mobile"></mat-paginator>

<mat-card *ngIf="isLoading" 
style="display: flex; justify-content: center; align-items: center">
<mat-progress-spinner 
 color="primary" 
 mode="indeterminate">
</mat-progress-spinner>
</mat-card>
</div>
