<!-- <div class="conteiner"></div>
<mat-toolbar>

  <span class="fill-remaining-space"></span>
  <span>angular</span>
  <span class="fill-remaining-space"></span>

</mat-toolbar>
<<app-mesuesi></app-mesuesi> -->
<style>
  body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("assets/sfondi.jpg");
  
    /* Full height */
     height: 100%;  
     
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
  }
  </style>
<!-- <img src="assets/sfondi.jpg" > -->

<div class="bg"></div>
  
